body{
  font-family: "verdana";
}
h2{
  background-color: black;
  color: white;
}
li {
  float: left;
  display:block;
	width:120px;
	margin-left:2px;
	border:1px solid #000;
}

a {
  display: block;
  padding: 8px;
  background-color: black;
  color: white;
}