body{
  font-family:"Verdana"
}
h2{
  background-color: black;
  color: white;
}
/* This  is the styling for the nav bar, it allows it to change color and be underlined when hovered on*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

li a:hover {
  background-color: white;
  color: black;
}

/* This is the styling for the page where only one indivdual item is shown*/
photo {
  display: block;
  text-align: center;
}
name {
  font-weight: bold;
  text-align: center;
}


/*This is the styling for the table displayed on all the pages*/
table, th, td {
  border: 1px solid black;
  text-align: center;
}


/*this is the styling for the image on the home page and the text on it*/ 
.bg-image {
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Full height */
  height: 100%;
}


/* Position text in the middle of the page/image */
.bg-text {
  /* Fallback color */
  background-color: rgb(0,0,0);
  /* Black w/opacity/see-through */
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.clothing-item {
 text-align: center;
}

img{
  height: 500px;  
  width: 500px;
}


text{
  float: rights;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}