<!doctype html>
<div class="nav">
<html lang="en">
  <head>
    <title>navbar</title>
    <link rel="stylesheet" href="navbar.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
  </head>
  <header>
    
    <nav>
      <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="shirts">Shirts</a> </li>
        <li> <a href="pants">Pants</a> </li>
        <li> <a href="sweaters">Sweaters</a> </li>
        <li> <a href="about">Contact</a> </li>
      </ul>
    </nav>
  </div>
  </header>
</html> 